{{ $desc         := .Description | markdownify }}
{{ $availability := .Params.availability }}
{{ $maintainer   := .Params.maintainer }}
<div class="column is-one-third">
  <div class="card">
    <div class="card-content">
      <a class="title is-size-4 is-size-5-mobile has-text-primary has-text-weight-bold" href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>

      <br /><br />

      {{ with $desc }}
      <div class="content is-medium">
        {{ . }}
      </div>
      {{ end }}
    </div>

    {{ if or $availability $maintainer }}
    <footer class="card-footer">
      {{ with $availability }}
      <div class="card-footer-item is-spaced card-is-wrapped">
        Availability&nbsp;<span class="has-text-weight-bold">{{ . }}</span>
      </div>
      {{ end }}

      {{ with $maintainer }}
      <div class="card-footer-item card-is-wrapped">
        Maintainer:&nbsp;<span class="has-text-weight-bold">{{ . }}</span>
      </div>
      {{ end }}
    </footer>
    {{ end }}
  </div>
</div>