{{ $notice   := .Params.notice }}
{{ $isScaler := eq .CurrentSection.Title "Scalers" }}
{{ $scalers := where site.RegularPages ".CurrentSection.Title" "Scalers" }}
{{ $version := index (split $.Page.File.Path "/") 1 }}
<section class="section">
  <div class="container">
    <div class="content is-medium is-constrained has-bottom-margin">
      {{ with $notice }}
      <article class="message is-warning">
        <div class="message-header">
          <p class="is-size-5 is-size-6-mobile">
            Notice
          </p>
        </div>
        <div class="message-body">
          {{ . }}
        </div>
      </article>
      {{ end }}

      {{ .Content | replaceRE "(<h[2-9] id=\"([^\"]+)\".+)(</h[2-9]+>)" `${1} <a class="headline-hash" href="#${2}"><span class="icon hashlink"><i class="fas fa-hashtag"></i></span></a>${3}` | safeHTML }}

      {{ if $isScaler }}
      <br />
      <br />

      <h2 id="available-scalers">
        Currently available scalers for KEDA
      </h2>
      <div class="buttons" style="display: flex; justify-content: flex-end">
        <form id="search" role="search">
          <input type="search" id="search-input">
        </form>        
        <button id="btn-focus-on-mount" class="button filterBtn is-focused" value="built-in-scalers">Built-in</button>
        <button class="button filterBtn" value="external-scalers">External</button>
      </div>
      <div class="results"></div>
      
      <div id="built-in-scalers" style="margin-top:20px;" class="columns is-multiline services-search">
        <template id="is-search-template">
            <div id="" class="column is-one-third">
              <div class="card">
                <div class="card-content">
                  <a class="title is-size-4 is-size-5-mobile has-text-primary has-text-weight-bold scaler-title" href="{{ .RelPermalink }}">
                  </a>
            
                  <br /><br />
            
                  <div class="content is-medium description">
                  </div>
                </div>
            
                <footer class="card-footer">
                  <div class="card-footer-item is-spaced card-is-wrapped">
                    Availability&nbsp;<span class="has-text-weight-bold availability"></span>
                  </div>
            
            
                  <div class="card-footer-item card-is-wrapped">
                    Maintainer:&nbsp;<span class="has-text-weight-bold maintainer"></span>
                  </div>
                </footer>
              </div>
            </div>
          </template>
        </div>
      <div id="built-in-scalers" style="margin-top:20px;" class="columns is-multiline is-search-result">
        {{ range $scalers }}
        {{ $thisVersion := index (split .File.Path "/") 1 }}
        {{ if eq $version $thisVersion }}
        {{ .Render "scaler-info" }}
        {{ end }}
        {{ end }}
      </div>
      <div id="external-scalers" class="artifacthub-widget-group" style="display: none;" data-url="https://artifacthub.io/packages/search?kind=8&sort=relevance&page=1" data-theme="light" data-header="false" data-stars="true" data-color="#405273" data-responsive="true"  data-loading="true"></div>
      <script async src="https://artifacthub.io/artifacthub-widget.js"></script>
      {{ end }}
    </div>
  </div>
</section>

