{{ $alpineVersion := site.Params.alpine_js_version }}
{{ $allVersions   := site.Params.versions.docs }}
{{ $latest        := index $allVersions 0 }}

<script
  src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v{{ $alpineVersion }}/dist/alpine.js"
  defer
></script>

{{/* Anchor link scroll offset */}}
<script>
  const navbarHeight =
    document.getElementsByClassName("navbar")[0].offsetHeight;
  const extraPadding = 15;
  const navbarOffset = -1 * (navbarHeight + extraPadding);
  var shiftWindow = function () {
    scrollBy(0, navbarOffset);
  };
  window.addEventListener("hashchange", shiftWindow);
  window.addEventListener("pageshow", shiftWindow);
  function load() {
    if (window.location.hash) shiftWindow();
  }
</script>

{{/* Algolia search bar */}}
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"
></script>
<script type="text/javascript">
  const latest = "{{ $latest }}";
  let currentVersion = latest;
  
  const currentUrl = window.location.pathname;
  const currentLocation = String(currentUrl).split("/");
  const docsPage = currentLocation[1];

  if (docsPage === "docs") {
    currentVersion = currentLocation[2];
  }

  docsearch({
    apiKey: "1b7cb5ab29b5b996f6faf71c39cb4171",
    appId: "3IFB1FERQT",
    indexName: "keda",
    container: "#navbar-search",
    searchParameters: { 'facetFilters': [`version: ${currentVersion}`] },
    insights: true,
  });
</script>

{{/* Scaler Search and filter */}}
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script>
  window.addEventListener(
    "DOMContentLoaded",
    () => {
      "use strict";
      let index;
      let debounceTimer;
      const currentUrl = window.location.pathname;
      const currentLocation = String(currentUrl).split("/");
      const currentVersion = currentLocation[2];
      const form = document.getElementById("search");
      const input = document.getElementById("search-input");
      const target = document.querySelector(".is-search-result");
      const filterIcon = document.querySelector(".filter-icon");
      const filterOptions = document.querySelector(".filter-options");
      const searchResultCount = document.querySelector(".results");
      const template = document.getElementById("is-search-template");
      const interval = 500;
      let query = input.value.trim();
      let parse = {};
      let searchQueue = [];
      let checkboxes = document.querySelectorAll(
        'input[name="resource_filter"]'
      );

      // fetch all scalers on inital load
      if (!query) {
        initSearchIndex();
      }

      // logic for input search
      input.addEventListener(
        "input",
        function (event) {
          event.preventDefault();
          clearTimeout(debounceTimer);
          const keywords = input.value.trim();

          query = keywords;

          debounceTimer = setTimeout(initSearchIndex, interval);

          // clear out all the scaler item card during search
          while (target.firstChild.nextSibling) {
            target.removeChild(template.nextSibling.nextElementSibling);
          }
        },
        false
      );

      // logic for category filter
      checkboxes.forEach((checkbox) => {
        checkbox.addEventListener("change", function (event) {
          if (checkbox.checked) {
            const inputValue = event.target.value.split(" ");
            // for single queries with spacing, use the first word
            const inputQuery = inputValue[0];
            searchQueue.push(inputQuery);
            query = searchQueue.join(" ");
            initSearchIndex();
          }  
          
          if (!checkbox.checked){
            const inputValue = event.target.value.split(" ");
            // for single queries with spacing, use the first word
            const inputQuery = inputValue[0];
            searchQueue = searchQueue.filter(
              (word) => word != inputQuery
            );
            query = searchQueue.join(" ");
            initSearchIndex();
          }

          // clear out all the scaler item card during search
          while (target.firstChild.nextSibling) {
            target.removeChild(template.nextSibling.nextElementSibling);
          }
        });
      });

      // show filter options on mobile
      filterIcon.addEventListener("click", function () {
        if (filterOptions.style.display === "") {
          filterOptions.style.display = "none";
        } 
        
        if (filterOptions.style.display === "none") {
          filterOptions.style.display = "flex";
        }else {
          filterOptions.style.display = "none";
        }
      });

      async function initSearchIndex() {
        const builtInScalers = await fetch("/index.json", { method: "GET" })
          .then((response) => response.json())
          .then((data) => {
            return data;
          })
          .catch((err) => console.error("error:", err));
        
        const externalScalerUrl = "https://artifacthub.io/api/v1/packages/search?offset=0&limit=20&facets=false&kind=8&deprecated=false&sort=relevance";
        const externalScalersData = await fetch(externalScalerUrl)
          .then((response) => response.json())
          .then((data) => {
            return data.packages;
          })
          .catch((err) => console.error("error:", err));
        
        const externalScalers = externalScalersData.map(scaler => ({
          type: 'external',
          availability: `v${scaler.version}+`,
          title: scaler.display_name,
          maintainer: scaler.repository.organization_name ?? scaler.repository.user_alias,
          href: "https://artifacthub.io/packages/keda-scaler/" + scaler.repository.name + "/" + scaler.normalized_name,
          version: currentVersion,
          description: scaler.description,
          category: null,
        }));

        const scalers = [...builtInScalers, ...externalScalers];

        index = lunr(function () {
          const documents = scalers;

          this.ref("title");
          this.field("title", {
            boost: 20,
            usePipeline: true,
            wildcard: lunr.Query.wildcard.TRAILING,
            presence: lunr.Query.presence.REQUIRED,
          });
          this.field("maintainer", {
            boost: 15,
          });
          this.field("href", {
            boost: 15,
          });
          this.field("description", {
            boost: 10,
          });
          this.field("availability", {
            boost: 5,
          });
          this.field("category", {
            boost: 10,
          });
          this.field("type", {
            boost: 20,
          });

          documents.forEach(function (doc) {
            if (doc.version === currentVersion) {
              this.add(doc);
              parse[doc.title] = {
                href: doc.href,
                title: doc.title,
                maintainer: doc.maintainer,
                description: doc.description,
                availability: doc.availability,
                category: doc.category,
                type: doc.type,
              };
            }
          }, this);
        });

        search(query);
      }

      function search(keywords) {
        // show all scalers by default
        let queryString = index.search("");

        /* By default, Lunr can only match words stored in the records/index. We want to be able to match both words and characters.
        To be able to perform character matching, we do wildcard search. */
        if (keywords.length > 0) {
          queryString = index.search(keywords);
          queryString =
            queryString.length <= 0
              ? index.search(`${keywords}*`)
              : queryString;
        }

        const results = queryString;

        if ("content" in template) {
          // show result count
          const title = document.createElement("h3");
          title.id = "search-results";
          title.className = "subtitle is-size-3";

          if (results.length == 0)
            title.textContent = `No results found`;
          else if (results.length == 1)
            title.textContent = `Found 1 result`;
          else if (results.length > 1 && keywords === "")
            title.textContent = `${results.length} scalers available`;
          else
            title.textContent = `Found ${results.length} results`;
          searchResultCount.replaceChildren(title);

          // show the matched result
          results.forEach(function (result) {
            const doc = parse[result.ref];
            const element = template.content.cloneNode(true);
              element.querySelector(".badge").textContent = doc.type;
              element.querySelector(".scaler-title").textContent = doc.title;
              element
                .querySelector(".scaler-title")
                .setAttribute("href", doc.href);
              doc.type === 'external' &&
              (element.querySelector(".badge").style.color =
                'purple');
              doc.description &&
                (element.querySelector(".description").textContent =
                  doc.description);
              doc.maintainer &&
                (element.querySelector(".maintainer").textContent =
                  doc.maintainer);
              doc.availability &&
                (element.querySelector(".availability").textContent =
                  doc.availability);
            target.appendChild(element);
          }, this);
        }
      }
    },
    false
  );
</script>

{{/* FAQ Copy to clipboard */}}

<script>
  // As of today, The document.execCommand() method is deprecated. 
  // The new clipboard API is the preferred method for accessing the clipboard. 
  // To maintain backward compatibility, I creted a fallbackCopyTextToClipboard function 
  // to enable support in old browser versions.

  function fallbackCopyTextToClipboard(text, textUrlGenerator) {
    const textURL = textUrlGenerator(text);
    let copyTextContainer = document.getElementById(text);
    let textArea = document.createElement("textarea");
    textArea.value = textURL;
    document.body.appendChild(textArea);
    textArea.focus();
    textArea.select();

    try {
      const successful = document.execCommand("copy");
      const msg = successful ? "copied!" : "action unsuccessful";
      copyTextContainer.classList.add("copy-text-active");
      console.log(msg);
      setTimeout(function () {
        copyTextContainer.classList.remove("copy-text-active");
      }, 2500);
    } catch (err) {
      console.error("Fallback: Oops, unable to copy", err);
    }
    document.body.removeChild(textArea);
  }

  function generateTextURL(text) {
    return `${window.location.origin}${window.location.pathname}#${text}`;
  }
  
  function copyTextToClipboard(text, textUrlGenerator) {
    const textURL = textUrlGenerator(text);
    let copyTextContainer = document.getElementById(text);
    if (!navigator.clipboard) {
      fallbackCopyTextToClipboard(text);
      return;
    }
    navigator.clipboard.writeText(textURL).then(
      function() {
        copyTextContainer.classList.add("copy-text-active");
        console.log("Async: Copying to clipboard was successful!");
        setTimeout(function () {
          copyTextContainer.classList.remove("copy-text-active");
        }, 2500);
      },
      function(err) {
        console.error("Async: Could not copy text: ", err);
      }
    );
  }

  const copyBtns = document.querySelectorAll(".copyBtn");
  copyBtns.forEach((btn) => {
    const id = btn.getAttribute("id");
    btn.addEventListener("click", function name(event) {
      event.stopPropagation();
      copyTextToClipboard(id, generateTextURL)
    });
  });
</script>

{{/* This logic expands collapsed section when URL is loaded in browser*/}}
<script>
  window.addEventListener(
    "DOMContentLoaded",
    () => {
      "use strict";
      const hash = (window.location.hash).slice(1);
      const cardContents = document.querySelectorAll(".card-content-dropdown");
      cardContents.forEach((item) => {
        const id = item.getAttribute("id");
        if (hash === id) {
          item.style.display = "";
        } else {
          item.style.display = "none";
        }
      });
    });
</script>
