{{ $alpineVersion := site.Params.alpine_js_version }}
<script
  src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v{{ $alpineVersion }}/dist/alpine.js"
  defer
></script>

{{/* Anchor link scroll offset */}}
<script>
  const navbarHeight =
    document.getElementsByClassName("navbar")[0].offsetHeight;
  const extraPadding = 15;
  const navbarOffset = -1 * (navbarHeight + extraPadding);
  var shiftWindow = function () {
    scrollBy(0, navbarOffset);
  };
  window.addEventListener("hashchange", shiftWindow);
  window.addEventListener("pageshow", shiftWindow);
  function load() {
    if (window.location.hash) shiftWindow();
  }
</script>

{{/* Algolia search bar */}}
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"
></script>
<script type="text/javascript">
  docsearch({
    apiKey: "c42d672f33ecea131ab51c71699b7c37",
    indexName: "keda",
    inputSelector: "#search-bar",
    debug: false,
  });
</script>

{{/* Scalers filter */}}
<script type="text/javascript">
  const builtInScalers = document.querySelectorAll("#built-in-scalers");
  const externalScalers = document.getElementById("external-scalers");
  const btnFocusOnMount = document.getElementById("btn-focus-on-mount");
  const totalCount = document.getElementById("total-count");
  const searchResults = document.getElementById("search-results");

  let btns = document.getElementsByClassName("filterBtn");
  for (let i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function () {
      let filterValue = btns[i].value.toLowerCase();
      if (filterValue === "built-in-scalers") {
        builtInScalers.forEach((node) => (node.style.display = "flex"));
        externalScalers.style.display = "none";
        totalCount.style.display = "block";
      } else if (filterValue === "external-scalers") {
        // remove focus when changed
        btnFocusOnMount.classList.remove("is-focused");
        builtInScalers.forEach((node) => (node.style.display = "none"));
        externalScalers.style.display = "inline";
        totalCount.style.display = "none";
      }
    });
  }
</script>

<script src="https://unpkg.com/lunr/lunr.js"></script>

<script>
  window.addEventListener(
    "DOMContentLoaded",
    () => {
      "use strict";
      let index, parse, query;
      const currentUrl = window.location.pathname;
      const currentLocation = String(currentUrl).split('/');
      const currentVersion = currentLocation[2];
      const form = document.getElementById("search");
      const input = document.getElementById("search-input");
      const target = document.querySelector(".is-search-result");
      const resultCount = document.querySelector(".results");
      const node = document.getElementsByTagName("h3");
      const headerNode = document.getElementById("total-count");
      const childTargetNodes = document.querySelectorAll('.initial-load-view')
      const servicesSearch = document.querySelector(".services-search");
      let template = document.getElementById("is-search-template");

      headerNode.textContent = `${childTargetNodes.length} scalers available`;

      input.addEventListener(
        "input",
        function (event) {
          event.preventDefault();
          const keywords = input.value.trim();

           // disable all buttons during search
           const filterBtns = document.querySelectorAll(".filterBtn");
          filterBtns.forEach(btn => btn.disabled = true);

          if (!keywords) {
            // enable all buttons when input search is empty
          const filterBtns = document.querySelectorAll(".filterBtn");
          filterBtns.forEach(btn => btn.disabled = false);
            servicesSearch.style.display = "none";
            target.style.display = "flex";
          }

          while (servicesSearch.firstChild.nextSibling) {
            query = keywords;
            initSearchIndex();
            headerNode.textContent = "";
            servicesSearch.removeChild(template.nextSibling.nextElementSibling);
          }
        },
        false
      );

      function handleEvent(e) {
        console.log(e.type);
      }

      async function initSearchIndex() {
        const request = new XMLHttpRequest();
        request.open("GET", "/index.json");
        request.responseType = "json";
        request.addEventListener(
          "load",
          function () {
            parse = {};
            index = lunr(function () {
              const documents = request.response;
              this.ref("title");
              this.field("title", {
                boost: 20,
                usePipeline: true,
                wildcard: lunr.Query.wildcard.TRAILING,
                presence: lunr.Query.presence.REQUIRED,
              });
              this.field("maintainer", {
                boost: 15,
              });
              this.field("href", {
                boost: 15,
              });
              this.field("description", {
                boost: 10,
              });
              this.field("availability", {
                boost: 5,
              });

              documents.forEach(function (doc) {
                if (doc.version === currentVersion) {
                  this.add(doc);
                  parse[doc.title] = {
                    href: doc.href,
                    title: doc.title,
                    maintainer: doc.maintainer,
                    description: doc.description,
                    availability: doc.availability,
                }
                };
              }, this);
            });
            search(query);
          },
          false
        );
        request.addEventListener("error", handleEvent);
        request.send(null);
      }

      function search(keywords) {
        const results = index.search(keywords);
        console.log('results', results);

        if ("content" in document.createElement("template")) {
          const target = document.querySelector(".is-search-result");
          const servicesSearch = document.querySelector(".services-search");
          const resultCount = document.querySelector(".results");

          target.style.display = "none";
          const title = document.createElement("h3");
          title.id = "search-results";
          title.className = "subtitle is-size-3";

          if (results.length == 0)
            title.textContent = `No results found for "${keywords}"`;
          else if (results.length == 1)
            title.textContent = `Found one result for "${keywords}"`;
          else if (results.length > 1 && keywords === '')
            title.textContent = `${results.length} scalers available`
          else
            title.textContent = `Found ${results.length} results for "${keywords}"`;
          resultCount.replaceChildren(title);

          let template = document.getElementById("is-search-template");
          console.log(results);
          console.log(template);

          results.forEach(function (result) {
            const doc = parse[result.ref];
            const element = template.content.cloneNode(true);
            console.log(doc);
            element.querySelector(".description").textContent = doc.description;
            element.querySelector(".maintainer").textContent = doc.maintainer;
            element.querySelector(".availability").textContent =
              doc.availability;
            element.querySelector(".scaler-title").textContent = doc.title;
            element.querySelector(".scaler-title").setAttribute('href', doc.href);
            servicesSearch.style.display = "flex";
            servicesSearch.appendChild(element);
          }, this);
        }
      }
    },
    false
  );
</script>
