<section class="section">
  <div class="container">
    <p class="title is-size-2 is-size-3-mobile is-spaced">
      {{ .title }}
    </p>

    <p class="subtitle is-size-4 is-sizee-5-mobile">
      {{ .description }}
    </p>

    <br />

    <div class="columns is-centered is-multiline is-vcentered is-variable is-8">
      {{ range .logos }}
      {{ $logo := printf "img/logos/%s" .logo | relURL }}
      <div class="column is-one-quarter">
        <a href="{{ .url }}" target="_blank">
          <img src="{{ $logo }}">
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>