{{ $home     := site.BaseURL }}
{{ $here     := .RelPermalink }}
{{ $logo     := site.Params.logos.navbar }}
{{ $menu     := site.Menus.main }}
{{ $docs     := site.Menus.docs }}
{{ $social   := site.Params.social }}
{{ $scalers  := where site.RegularPages ".CurrentSection.Title" "Scalers" }}
<nav id="mainnav" style="padding:10px" class="navbar is-transparent has-background-pattern is-fixed-top" role="navigation" aria-label="main navigation" x-data="{ open: false, scrolled: false }" @scroll.window="scrolled = window.scrollY > $el.offsetHeight" :class="{ 'scrolled': scrolled }">
  <div class="container">
    <div class="navbar-brand is-left-padded" style="align-items: end;">
      <a class="navbar-item" href="{{ $home }}">
        {{ $url := printf "img/logos/%s" $logo | relURL }}
        <img src="{{ $url }}" style="transform: scale(2);" height="28" width="66" alt="Keda logo">
      </a>

      <a role="button" class="navbar-burger" data-target="navbar-menu" aria-label="menu" aria-expanded="false" @click="open = !open" @click.outside="open = false" :class="{ 'is-active': open }">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navbar-menu" :class="{ 'is-active': open }">
      <div class="navbar-end">
        <div class="navbar-item" id="navbar-search">
          <p class="control has-icons-left">
            <input class="input is-rounded" type="text" placeholder="Search" id="search-bar">
            <span class="icon is-small is-left">
              <i class="fas fa-magnifying-glass"></i>
            </span>
          </p>
        </div>

        <!-- docs menu for mobile showing nested items -->
        <div class="docs-menu--mobile navbar-item is-size-5-desktop has-dropdown is-hoverable">
          {{ with .Site.Menus.docs }}
          <div class="navbar-item is-size-5-desktop has-dropdown is-hoverable">
            {{ range . }}
              {{ template "main_nav_item" . }}
            {{ end }}
          </div>
          {{ end }}
        </div>
        
        {{ define "main_nav_item" }}
        {{ $url := replace .URL "/docs" "/docs/latest" }}
        {{ $url  = replace $url "/http-add-on/" "/http-add-on/latest/" }}
        {{ $isExternal := hasPrefix .URL "http" }}
        {{ if .Params.prependDivider }}<hr class="navbar-divider">{{ end }}
        <div class="navbar-item is-size-5-desktop has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless"{{ with $url }} href="{{ . }}"{{ end }} {{ if $isExternal }} target="_blank"{{ end }}>
            <span>
              {{ .Name }}
            </span>
            {{ if $isExternal }}
              <span class="icon">
                <i class="fas fa-xs fa-up-right-from-square"></i>
              </span>
              {{ end }}
              {{ if .HasChildren }}
            <span class="icon">
              <i class="fas fa-md fa-caret-down"></i>
            </span>
            {{ end }}
          </a>
          {{ if .HasChildren }}
            <div class="navbar-dropdown is-radiusless">
              {{ range .Children }}
                {{ template "main_nav_item" . }}
              {{ end }}
            </div>
          {{ end }}
          </div>
        {{ end }}

        <!-- docs menu for desktop hiding nested items   -->
        {{ range $docs }}
        {{ $isExternal := hasPrefix .URL "http" }}
        {{ if .HasChildren }}
        {{ $url := replace .URL "/docs" "/docs/latest" }}
        {{ $url  = replace $url "/http-add-on/" "/http-add-on/latest/" }}
        <div class="docs-menu--desktop navbar-item is-size-5-desktop has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless"{{ with $url }} href="{{ . }}"{{ end }}>
            <span>
              {{ .Name }}
            </span>
            <span class="icon has-text-white">
              <i class="fas fa-md fa-caret-down"></i>
            </span>
          </a>

          <div class="navbar-dropdown is-radiusless">
            {{ range .Children }}
            {{ $isExternal := hasPrefix .URL "http" }}
            {{ $url := replace .URL "/docs" "/docs/latest" }}
            {{ $url  = replace $url "/http-add-on/" "/http-add-on/latest/" }}
            {{ if .Params.prependDivider }}<hr class="navbar-divider">{{ end }}
            <a class="navbar-item" href="{{ $url }}"{{ if $isExternal }} target="_blank"{{ end }}>
              <span>
                {{ .Name }}
              </span>
              {{ if $isExternal }}
              <span class="icon has-text-white">
                <i class="fas fa-xs fa-up-right-from-square"></i>
              </span>
              {{ end }}
            </a>
            {{ end }}
          </div>
        </div>
        {{ end }}
        {{ end }}

        {{ range $menu }}
        {{ $isExternal := hasPrefix .URL "http" }}
        {{ if .HasChildren }}
        <div class="navbar-item is-size-5-desktop has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless"{{ with .URL }} href="{{ . }}"{{ end }}>
            <span>
              {{ .Name }}
            </span>
            <span class="icon has-text-white">
              <i class="fas fa-md fa-caret-down"></i>
            </span>
          </a>

          <div class="navbar-dropdown is-radiusless">
            {{ range .Children }}
            {{ $isExternal := hasPrefix .URL "http" }}
            <a class="navbar-item" href="{{ .URL }}"{{ if $isExternal }} target="_blank"{{ end }}>
              <span>
                {{ .Name }}
              </span>
              {{ if $isExternal }}
              <span class="icon has-text-white">
                <i class="fas fa-xs fa-up-right-from-square"></i>
              </span>
              {{ end }}
            </a>
            {{ end }}
          </div>
        </div>
        {{ else }}
        <a class="navbar-item is-size-5-desktop" href="{{ .URL }}"{{ if $isExternal }} target="_blank"{{ end }}>
          <span>
            {{ .Name }}
          </span>
          {{ if $isExternal }}
          <span class="icon has-text-white">
            <i class="fas fa-xs fa-up-right-from-square"></i>
          </span>
          {{ end }}
        </a>
        {{ end }}
        {{ end }}

        <div class="navbar-item">
          <div class="buttons">
            {{ partial "social-buttons.html" (dict "btns" $social "compact" true "color" "dark") }}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
