{{ $home    := site.BaseURL }}
{{ $here    := .RelPermalink }}
{{ $title   := site.Title }}
{{ $logo    := site.Params.logos.navbar }}
{{ $menu    := site.Menus.main }}
{{ $social  := site.Params.social }}
{{ $scalers := where site.RegularPages ".CurrentSection.Title" "Scalers" }}
<nav class="navbar is-black is-fixed-top" role="navigation" aria-label="main navigation" x-data="{ open: false }">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ $home }}">
        {{ $url := printf "img/logos/%s" $logo | relURL }}
        <img src="{{ $url }}">
      </a>

      <a role="button" class="navbar-burger" data-target="navbar-menu" aria-label="menu" aria-expanded="false" @click="open = !open" @click.away="open = false" :class="{ 'is-active': open }">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navbar-menu" :class="{ 'is-active': open }">
      <div class="navbar-end">
        <div class="navbar-item">
          <p class="control has-icons-left">
            <input class="input is-rounded" type="text" placeholder="Search" id="search-bar">
            <span class="icon is-small is-left">
              <i class="fas fa-search"></i>
            </span>
          </p>
        </div>

        <div class="navbar-item is-size-5-desktop has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless" href="/scalers">
            <span>
              Scalers
            </span>
            <span class="icon has-text-secondary">
              <i class="fas fa-md fa-caret-down"></i>
            </span>
          </a>

          <div class="navbar-dropdown is-radiusless">
            {{ range $scalers }}
            <a class="navbar-item" href="{{ .RelPermalink }}">
              {{ .Title }}
            </a>
            {{ end }}
          </div>
        </div>

        {{ range $menu }}
        {{ $isExternal := hasPrefix .URL "http" }}
        {{ if .HasChildren }}
        <div class="navbar-item is-size-5-desktop has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless"{{ with .URL }} href="{{ . }}"{{ end }}>
            <span>
              {{ .Name }}
            </span>
            <span class="icon has-text-secondary">
              <i class="fas fa-md fa-caret-down"></i>
            </span>
          </a>

          <div class="navbar-dropdown is-radiusless">
            {{ range .Children }}
            {{ $isExternal := hasPrefix .URL "http" }}
            <a class="navbar-item" href="{{ .URL }}"{{ if $isExternal }} target="_blank"{{ end }}>
              <span>
                {{ .Name }}
              </span>
              {{ if $isExternal }}
              <span class="icon has-text-secondary">
                <i class="fas fa-xs fa-external-link-alt"></i>
              </span>
              {{ end }}
            </a>
            {{ end }}
          </div>
        </div>
        {{ else }}
        <a class="navbar-item is-size-5-desktop" href="{{ .URL }}"{{ if $isExternal }} target="_blank"{{ end }}>
          <span>
            {{ .Name }}
          </span>
          {{ if $isExternal }}
          <span class="icon has-text-secondary">
            <i class="fas fa-xs fa-external-link-alt"></i>
          </span>
          {{ end }}
        </a>
        {{ end }}
        {{ end }}

        <div class="navbar-item">
          <div class="buttons">
            {{ partial "social-buttons.html" (dict "btns" $social "compact" true "color" "dark") }}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
