{{ $home     := site.BaseURL }}
{{ $here     := .RelPermalink }}
{{ $logo     := site.Params.logos.navbar }}
{{ $menu     := site.Menus.main }}
{{ $docs     := site.Menus.docs }}
{{ $social   := site.Params.social }}
{{ $scalers  := where site.RegularPages ".CurrentSection.Title" "Scalers" }}
{{ $versions := site.Params.versions.docs }}
{{ $latest   := index $versions 0 }}
<nav id="mainnav" style="padding:10px" class="navbar is-transparent has-background-pattern is-fixed-top" role="navigation" aria-label="main navigation" x-data="{ open: false }">
  <div class="container">
    <div class="navbar-brand is-left-padded" style="align-items: end;">
      <a class="navbar-item" href="{{ $home }}">
        {{ $url := printf "img/logos/%s" $logo | relURL }}
        <img src="{{ $url }}" style="transform: scale(2);" height="28" width="66" alt="Keda logo">
      </a>

      <a role="button" class="navbar-burger" data-target="navbar-menu" aria-label="menu" aria-expanded="false" @click="open = !open" @click.away="open = false" :class="{ 'is-active': open }">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navbar-menu" :class="{ 'is-active': open }">
      <div class="navbar-end">
        <div class="navbar-item">
          <p class="control has-icons-left">
            <input class="input is-rounded" type="text" placeholder="Search" id="search-bar">
            <span class="icon is-small is-left">
              <i class="fas fa-search"></i>
            </span>
          </p>
        </div>

        <div class="navbar-item is-size-5-desktop has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless" href="/docs/{{ $latest }}/scalers">Scalers</a>
        </div>

        <div class="navbar-item is-size-5-desktop has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless" href="/docs/{{ $latest }}/authentication-providers">Auth providers</a>
        </div>

        {{ range $docs }}
        {{ $isExternal := hasPrefix .URL "http" }}
        {{ if .HasChildren }}
        <div class="navbar-item is-size-5-desktop has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless"{{ with .URL }} href="{{ . }}{{ $latest }}"{{ end }}>
            <span>
              {{ .Name }}
            </span>
            <span class="icon has-text-white">
              <i class="fas fa-md fa-caret-down"></i>
            </span>
          </a>

          <div class="navbar-dropdown is-radiusless">
            {{ range .Children }}
            {{ $url := replaceRE "/docs" (printf "/docs/%s" $latest) .URL }}
            {{ $isExternal := hasPrefix .URL "http" }}
            <a class="navbar-item" href="{{ $url }}"{{ if $isExternal }} target="_blank"{{ end }}>
              <span>
                {{ .Name }}
              </span>
              {{ if $isExternal }}
              <span class="icon has-text-white">
                <i class="fas fa-xs fa-external-link-alt"></i>
              </span>
              {{ end }}
            </a>
            {{ end }}
          </div>
        </div>
        {{ end }}
        {{ end }}

        {{ range $menu }}
        {{ $isExternal := hasPrefix .URL "http" }}
        {{ if .HasChildren }}
        <div class="navbar-item is-size-5-desktop has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless"{{ with .URL }} href="{{ . }}"{{ end }}>
            <span>
              {{ .Name }}
            </span>
            <span class="icon has-text-white">
              <i class="fas fa-md fa-caret-down"></i>
            </span>
          </a>

          <div class="navbar-dropdown is-radiusless">
            {{ range .Children }}
            {{ $isExternal := hasPrefix .URL "http" }}
            <a class="navbar-item" href="{{ .URL }}"{{ if $isExternal }} target="_blank"{{ end }}>
              <span>
                {{ .Name }}
              </span>
              {{ if $isExternal }}
              <span class="icon has-text-white">
                <i class="fas fa-xs fa-external-link-alt"></i>
              </span>
              {{ end }}
            </a>
            {{ end }}
          </div>
        </div>
        {{ else }}
        <a class="navbar-item is-size-5-desktop" href="{{ .URL }}"{{ if $isExternal }} target="_blank"{{ end }}>
          <span>
            {{ .Name }}
          </span>
          {{ if $isExternal }}
          <span class="icon has-text-white">
            <i class="fas fa-xs fa-external-link-alt"></i>
          </span>
          {{ end }}
        </a>
        {{ end }}
        {{ end }}

        <div class="navbar-item">
          <div class="buttons">
            {{ partial "social-buttons.html" (dict "btns" $social "compact" true "color" "dark") }}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $("#mainnav");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
            });
        });
    </script>
