<template id="is-search-template">
  <div class="column is-half">
    <div class="card">
      <div class="card-content">
        <a
          class="title is-size-4 is-size-5-mobile has-text-primary has-text-weight-bold scaler-title"
        >
        </a>

        <br /><br />

        <div class="content is-medium description"></div>
      </div>

      <footer class="card-footer">
        <div class="card-footer-item is-spaced card-is-wrapped">
          Availability&nbsp;<span
            class="has-text-weight-bold availability"
          ></span>
        </div>

        <div class="card-footer-item card-is-wrapped">
          Maintainer:&nbsp;<span class="has-text-weight-bold maintainer"></span>
        </div>
      </footer>
    </div>
  </div>
</template>
