{{ $here    := $.Page.RelPermalink }}
{{ $scalers := where site.RegularPages ".CurrentSection.Title" "Scalers" }}
<div class="buttons has-extra-top-margin">
  {{ range $scalers }}
  {{ $isHere := eq .RelPermalink $here }}
  {{ $version := index (split .Dir "/") 1 }}
  <!-- Use this if you are on Windows:
       {{ $version := index (split .Dir "\\") 1 }} -->
  <a class="button is-primary{{ if not $isHere }} is-outlined{{ end }}" href="{{ .RelPermalink }}">
    {{ .Title }} (Version: {{ $version }})
  </a>
  {{ end }}
</div>
