<h2 id="available-scalers">Currently available scalers for KEDA</h2>
<div class="buttons" style="display: flex; justify-content: flex-end">
  <form
    class="control has-icons-left has-extra-sm-right-margin"
    id="search"
    role="search"
  >
    <input
      class="input is-rounded"
      type="search"
      placeholder="Search for scalers"
      id="search-input"
    />
    <span class="icon is-small is-left">
      <i class="fas fa-search"></i>
    </span>
  </form>
  <button
    id="btn-focus-on-mount"
    class="button filterBtn is-focused"
    value="built-in-scalers"
  >
    Built-in
  </button>
  <button class="button filterBtn" value="external-scalers">External</button>
</div>
<div class="columns">
  <div class="filter-pane column is-one-quarter">
    <h5>FILTERS</h5>      
    <div class="has-extra-top-margin">
      <h6>Maintainer</h6>
      {{ $maintainers := slice }}
      {{ range $scalers :=  where site.RegularPages ".CurrentSection.Title" "Scalers" }}
          {{ $maintainers = $maintainers | append ($scalers.Params.maintainer) }}
          {{ $maintainers = uniq $maintainers }}
      {{ end }}
      {{ range $maintainers }}
      {{ $maintainer := . }}
      <div>
          <input id="{{ . }}" type="checkbox" name="resource_filter" value="{{ . }}">
          <label for="{{ . }}">{{ . }}</label>
      </div>
      {{ end }}
      <div>
        <input id="keda" type="checkbox" name="resource_filter" value="keda">
        <label for="keda">Keda</label>
      </div>
      <div>
        <input id="wsugarman" type="checkbox" name="resource_filter" value="wsugarman">
        <label for="wsugarman">Wsugarman</label>
      </div>
      <div>
        <input id="JensWalter" type="checkbox" name="resource_filter" value="JensWalter">
        <label for="JensWalter">JensWalter</label>
      </div>
    </div>  
  </div>
  <div class="results-pane column">
    <div class="results"></div>
    <div class="external-results" style="display: none;"></div>
    <div
      id="built-in-scalers"
      style="margin-top: 20px"
      class="columns is-multiline is-search-result"
    >
      {{ partial "scaler-template" . }}
    </div>
    <div id="external-scalers" style="display: none">
      <p id="external-banner">
        External scaler information is pulled from Artifact Hub. External scaler
        maintainers can learn more on
        <a
          href="https://artifacthub.io/docs/topics/repositories/#keda-scalers-repositories"
          >Artifact Hub docs</a
        >
      </p>
      <div
        class="artifacthub-widget-group columns is-multiline is-external-search-result"
        data-url="https://artifacthub.io/api/v1/packages/search?offset=0&limit=20&facets=false&kind=8&deprecated=false&sort=relevance"
      >
      {{ partial "scaler-template" . }}
      </div>
    </div> 
  </div>
</div>
