{{ define "title" -}}
  {{ site.Title }} | {{ site.Params.tagline -}}
{{ end }}

{{ define "main" -}}
  {{ partial "home/hero.html" . }}
  {{ partial "home/what-is.html" . }}
  {{ partial "home/features.html" . }}
  {{ partial "home/video.html" . }}
  {{ partial "home/scalers.html" . }}
  {{ partial "home/samples.html" . }}
  {{ partial "logo-section.html" (dict "title" "Users" "description" "A variety of users are autoscaling applications with KEDA:" "logos" site.Params.users) }}
  <hr />
  {{ partial "logo-section.html" (dict "title" "Partners" "description" "KEDA is supported by and built by our community, including the following companies:" "logos" site.Params.partners) }}
  <hr />
  {{ partial "logo-section.html" (dict "title" "Supported by" "description" "KEDA is supported by the following companies that provide their services for free:" "logos" site.Params.supportedby) }}

  {{ partial "home/get-involved.html" . }}
  {{ partial "home/cncf.html" . }}

  <img referrerpolicy="no-referrer-when-downgrade" src="https://static.scarf.sh/a.png?x-pxid=46ce89e3-f6ce-454e-9740-490aaee3da5e" />
{{ end -}}
