<section class="section has-background-black has-background-pattern">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        {{ partial "youtube-embed.html" (dict "youtube_id" "317rLOIKfDQ") }}
      </div>

      <div class="column">
        <p class="title has-text-white-bis is-spaced">
          KEDA: Unlocking Advanced Event-Driven Scaling for Kubernetes
        </p>

        <p class="subtitle has-text-light">
          From KubeCon Europe 2025
        </p>
      </div>
    </div>
    <div class="columns is-vcentered">
      <div class="column">
        <p class="title has-text-white-bis is-spaced">
          Scaling New Heights with KEDA: Performance, Extensions, and Beyond
        </p>

        <p class="subtitle has-text-light">
          From KubeCon Europe 2024
        </p>
      </div>

      <div class="column">
        {{ partial "youtube-embed.html" (dict "youtube_id" "_5_njiPr5vg") }}
      </div>
    </div>
    <div class="columns is-vcentered">
      <div class="column">
        {{ partial "youtube-embed.html" (dict "youtube_id" "wYQ2cvSj6os") }}
      </div>

      <div class="column">
        <p class="title has-text-white-bis is-spaced">
          Exploring KEDA's Graduation and Advancements in Event-Driven Scaling
        </p>

        <p class="subtitle has-text-light">
          From KubeCon North America 2023
        </p>
      </div>
    </div>
  </div>
</section>
