<section class="section has-background-black has-background-pattern">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <p class="title has-text-white-bis is-spaced">
          An overview of Kubernetes Event-Driven Autoscaling (KEDA)
        </p>

        <p class="subtitle has-text-light">
          From KubeCon Europe 2021
        </p>
      </div>

      <div class="column">
        {{ partial "youtube-embed.html" (dict "youtube_id" "H5eZEq_wqSE") }}
      </div>
    </div>
  </div>
</section>