<section class="section has-background-black has-background-pattern">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <p class="title has-text-white-bis is-spaced">
          An overview of KEDA and event-driven containers on Kubernetes
        </p>

        <p class="subtitle has-text-light">
          From <a class="has-text-secondary" href="https://events19.linuxfoundation.org/events/kubecon-cloudnativecon-north-america-2019" target="_blank">KubeCon North America 2019</a>
        </p>
      </div>

      <div class="column">
        {{ partial "youtube-embed.html" (dict "youtube_id" "ZK2SS_GXF-g") }}
      </div>
    </div>
  </div>
</section>