{{ $vendors := site.Params.vendors }}
<div class="columns is-multiline is-centered">
  {{ range $vendors }}
  <div class="column is-12">
    <div class="card">
      <div class="card-content">
        <!-- Logo Section -->
        <div style="text-align: left; margin-bottom: 1rem;">
          <img src="{{ printf "img/logos/%s" .logo | relURL }}" alt="{{ .name }}" style="max-width: 200px; height: auto;">
        </div>
        <!-- Description Section -->
        <div class="content" style="text-align: left; margin-bottom: 1rem;">
          {{ .description | markdownify }}
        </div>
        <hr />
        <!-- Buttons Section -->
        <div class="buttons" style="text-align: left;">
          {{ range .urls }}
          <a href="{{ .url }}" target="_blank" class="button has-background-info has-text-white has-text-weight-bold">{{ .text }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</div>

<!-- Listing Requirements -->
<br/>
<div class="content" style="max-width: 960px; margin: 0 auto 2rem auto;">
  <h2>Requirements for Listing a Vendor</h2>
  <p>To be listed as a KEDA commercial offering, organizations must meet the following criteria:</p>
  <ul>
    <li>
      Demonstrate a commitment to KEDA's maintenance and improvement.
      <ul>
        <li>On average, have pull requests accepted monthly into KEDA or related projects for features and/or improvements.</li>
        <li>Have made a substantial contribution to the development of KEDA or related projects.</li>
        <li>Help triage and comment on issues across the KEDA ecosystem at least 3 times per month.</li>
      </ul>
    </li>
    <li>
      Demonstrate an area of expertise in the KEDA ecosystem.
      <ul>
        <li>Example: Employing one or more KEDA maintainers.</li>
        <li>Example: Owning a specific high-impact feature or process.</li>
      </ul>
    </li>
    <li>
      Participate in KEDA's governance.
      <ul>
        <li>At least 1 member of the vendor's team attends the community meetings at least 50% of the time.</li>
      </ul>
    </li>
    <li>
      Be active KEDA thought leaders.
      <ul>
        <li>Example: Sponsoring staff for KEDA booths or community events.</li>
        <li>Example: Giving talks related to KEDA or its ecosystem.</li>
      </ul>
    </li>
    <li>Provide enterprise-level support and functionality for KEDA or products based directly on it.</li>
  </ul>
  <p>If any questions arise regarding eligibility, the KEDA maintainers will make the final decision.</p>
</div>
