{{ $faq20 := site.Data.faq20.qna }}

<h2 id="general">General</h2>

{{ range where $faq20 ".type" "==" "General" }}
{{ $question := .q | markdownify }}
{{ $answer   := .a | markdownify }}
{{ $id       := .q | urlize }}
<div class="card is-collapsible" x-data="{ open: false }" id="{{ $id }}">
  <header class="card-header has-mouse-icon" @click="open = !open">
    <p class="card-header-title title is-size-4 is-size-4-mobile">
      {{ $question }}
    </p>
    <button class="copyBtn" id="{{ $id }}"><i class="fa fa-clone"></i></button>
  </header>
  <div class="card-content" x-show="open" id="{{ $id }}">
    <div class="content is-medium has-text-grey-dark">
      {{ $answer }}
    </div>
  </div>
</div>
{{ end }}

<h2 id="best-practices">Best Practices</h2>

{{ range where $faq20 ".type" "==" "Best Practices" }}
{{ $question := .q | markdownify }}
{{ $answer   := .a | markdownify }}
{{ $id       := .q | urlize }}
<div class="card is-collapsible" x-data="{ open: false }" id="{{ $id }}">
  <header class="card-header has-mouse-icon" @click="open = !open">
    <p class="card-header-title title is-size-4 is-size-4-mobile">
      {{ $question }}
    </p>
    <button class="copyBtn" id="{{ $id }}"><i class="fa fa-clone"></i></button>
  </header>
  <div class="card-content" x-show="open" id="{{ $id }}">
    <div class="content is-medium has-text-grey-dark">
      {{ $answer }}
    </div>
  </div>
</div>
{{ end }}

<h2 id="features">Features</h2>

{{ range where $faq20 ".type" "==" "Features" }}
{{ $question := .q | markdownify }}
{{ $answer   := .a | markdownify }}
{{ $id       := .q | urlize }}
<div class="card is-collapsible" x-data="{ open: false }" id="{{ $id }}">
  <header class="card-header has-mouse-icon" @click="open = !open">
    <p class="card-header-title title is-size-4 is-size-4-mobile">
      {{ $question }}
    </p>
    <button class="copyBtn" id="{{ $id }}"><i class="fa fa-clone"></i></button>
  </header>
  <div class="card-content" x-show="open" id="{{ $id }}">
    <div class="content is-medium has-text-grey-dark">
      {{ $answer }}
    </div>
  </div>
</div>
{{ end }}

<h2 id="kubernetes">Kubernetes</h2>

{{ range where $faq20 ".type" "==" "Kubernetes" }}
{{ $question := .q | markdownify }}
{{ $answer   := .a | markdownify }}
{{ $id       := .q | urlize }}
<div class="card is-collapsible" x-data="{ open: false }" id="{{ $id }}">
  <header class="card-header has-mouse-icon" @click="open = !open">
    <p class="card-header-title title is-size-4 is-size-4-mobile">
      {{ $question }}
    </p>
    <button class="copyBtn" id="{{ $id }}"><i class="fa fa-clone"></i></button>
  </header>
  <div class="card-content" x-show="open" id="{{ $id }}">
    <div class="content is-medium has-text-grey-dark">
      {{ $answer }}
    </div>
  </div>
</div>
{{ end }}

<h2 id="community">Community</h2>

{{ range where $faq20 ".type" "==" "Community" }}
{{ $question := .q | markdownify }}
{{ $answer   := .a | markdownify }}
{{ $id       := .q | urlize }}
<div class="card is-collapsible" x-data="{ open: false }" id="{{ $id }}">
  <header class="card-header has-mouse-icon" @click="open = !open">
    <p class="card-header-title title is-size-4 is-size-4-mobile">
      {{ $question }}
    </p>
    <button class="copyBtn" id="{{ $id }}"><i class="fa fa-clone"></i></button>
  </header>
  <div class="card-content" x-show="open" id="{{ $id }}">
    <div class="content is-medium has-text-grey-dark">
      {{ $answer }}
    </div>
  </div>
</div>
{{ end }}

<h2 id="website">Website</h2>

{{ range where $faq20 ".type" "==" "Website" }}
{{ $question := .q | markdownify }}
{{ $answer   := .a | markdownify }}
{{ $id       := .q | urlize }}
<div class="card is-collapsible" x-data="{ open: false }" id="{{ $id }}">
  <header class="card-header has-mouse-icon" @click="open = !open">
    <p class="card-header-title title is-size-4 is-size-4-mobile">
      {{ $question }}
    </p>
    <button class="copyBtn" id="{{ $id }}"><i class="fa fa-clone"></i></button>
  </header>
  <div class="card-content" x-show="open" id="{{ $id }}">
    <div class="content is-medium has-text-grey-dark">
      {{ $answer }}
    </div>
  </div>
</div>
{{ end }}

<h2 id="integrations">Integrations</h2>

<h3>Microsoft Azure</h3>

{{ range where $faq20 ".type" "==" "Azure" }}
{{ $question := .q | markdownify }}
{{ $answer   := .a | markdownify }}
{{ $id       := .q | urlize }}
<div class="card is-collapsible" x-data="{ open: false }" id="{{ $id }}">
  <header class="card-header has-mouse-icon" @click="open = !open">
    <p class="card-header-title title is-size-4 is-size-4-mobile">
      {{ $question }}
    </p>
    <button class="copyBtn" id="{{ $id }}"><i class="fa fa-clone"></i></button>
  </header>
  <div class="card-content" x-show="open" id="{{ $id }}">
    <div class="content is-medium has-text-grey-dark">
      {{ $answer }}
    </div>
  </div>
</div>
{{ end }}
