# Adapted from @chalin's work on https://github.com/chalin/docsy-starter

name: Links

on:
  merge_group:
  pull_request:
  push: { branches: [main] }

jobs:
  build-and-check-links:
    name: BUILD and CHECK LINKS
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create NPM cache-hash input file
        run: |
          mkdir -p tmp
          jq '{devDependencies, engines, gitHubActionCacheKey}' package.json > tmp/package-ci.json

      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
          cache-dependency-path: tmp/package-ci.json

      - run: npm install --omit=optional

      - run: |
          sed -i -e "s/docs = \[/docs = [\"$(ls content/docs | grep -oe '[0-9][0-9]*.[0-9][0-9]' | tail -1)\", /" config.toml
        name: Fake version to include incoming version as current

      - run: npm run check:links